.container
{
	width:100%;
	height:inherit;
	height:1286px; 
    background-color:#FAFAFA; 
    width:100%
}
.messageArea
{
	height:35px;
	width:100%;
	margin-bottom:10px;
	background-color:#FBFBE2;	
}
.leftContent
{
	width: 100%; 
	height: 513px;
}
.form
{
	width:40%;
}
.formHeader
{
	padding-top:5px; 
	border:solid 1px #88AB2D; 
	height:20px; 
	/*padding-left:30%; */
	margin-bottom:5px;
	/*background-image:url('../1divHeaderBg.png');*/
	background-color:#88AB2D;
	color:#CCFFCC;
	vertical-align:middle;
	text-transform:uppercase;
}

.formControlHolders
{
	border:solid 1px #A5CBB0; 
}

#commodityDepositRequestForm
{
	float:left;
	margin-left:20px; 
}
#driverForm
{
	float:left;
	margin-left:100px;
}

#rightForm
{
	float:left;
	margin-left:100px;
}

#voucherForm
{
	float:right;
	margin-top:20px;
	margin-right:8%;
}
#leftVoucherArea
{
	float:left; 
	border-right:solid 3px black;
	height:120px;
	width:40%;
}
#rightVoucherArea
{
	float:left; 
	margin-left:10px; 
	height:200px;
	width:49%;		
}
.controlContainer
{
	height:33px;
}

.leftControl
{
	margin-left: 10px;
	margin-right: 10px;
	width: 38%;
	float: left;
}
.rightControl
{
	float: left;
	width: 49%;
}

.middleContent
{
	width: 100%;
	height: 689px;
	border: 1px solid white;
}

.rightContent
{
	width: 100%;
	border: 1px solid black;
}

.modalPopUpStyle
{
	background-color:White;	
	filter:alpha(opacity=50);
	opacity:0.6;
}
.buttonHolder
{
	width:100%;
	height:23px;
	margin-top:10px;
	background-color:Transparent;
}
.innerButtonHolder
{
	margin-left:25%;
	border:solid 1px #A5CBB0; 
	width:50%;
}
.btn
{
	margin-left:50px;
	padding-top:3px;
}
.buttonContainer
{
    margin-top:10px;
    width:100%;
}
.buttonHolder
{
    width:24%;
    margin:0 2px 0 2px;
    float:left;
}